In [5]:
Name=input("enter your name:")
age=int(input("enter your age:"))


if age>=18:
    print(Name)
    print("you are eligible")
else:
    print(Name)
    print("you are not eligible")

enter your name: zoha
enter your age: 18

zoha
you are eligible

In [12]:
a=int(input())
b=int(input())
c=int(input())

if a>b:
    if a>c:
        print("a is largest")
    else:
        print("c is largest")
else:
    if b>c:
        print("b is largest")
    else:
        print("c is largest")

 3
 3
 1

b is largest

In [1]:
Day= int(input("enter the Day number: "))

match Day:
case 1:print("sunday")
    case 2:print("monday")
        case 3:("tuesday")
            case 4:("wednesday")
                case 5:("thursday")
                    case 6:("friday")
                        case 7:("saturday")
                            case _ if Day == 10:
                                print("ten")
                                case _ if Day >=13 and Day<=19:

IndentationError: expected an indented block after 'match' statement on line 1 (213062771.py, line 2)

In [1]:
rows = 5
for i in range(1,rows+1):
    print("*" * i)

*
**
***
****
*****

In [2]:
x=0
while x<10:
    print(x)
    x=x+1

for y in range(0,10):
    for x in range(1,10):
        print(y," ",x)

0
1
2
3
4
5
6
7
8
9
0   1
0   2
0   3
0   4
0   5
0   6
0   7
0   8
0   9
1   1
1   2
1   3
1   4
1   5
1   6
1   7
1   8
1   9
2   1
2   2
2   3
2   4
2   5
2   6
2   7
2   8
2   9
3   1
3   2
3   3
3   4
3   5
3   6
3   7
3   8
3   9
4   1
4   2
4   3
4   4
4   5
4   6
4   7
4   8
4   9
5   1
5   2
5   3
5   4
5   5
5   6
5   7
5   8
5   9
6   1
6   2
6   3
6   4
6   5
6   6
6   7
6   8
6   9
7   1
7   2
7   3
7   4
7   5
7   6
7   7
7   8
7   9
8   1
8   2
8   3
8   4
8   5
8   6
8   7
8   8
8   9
9   1
9   2
9   3
9   4
9   5
9   6
9   7
9   8
9   9

In [14]:
num_terms = int(input("Enter the number of terms: "))

a, b = 0, 1


print(a, b, end=" ")

for _ in range(2, num_terms):
    next_term = a + b
    print(next_term, end=" ")
    
    
    a, b = b, next_term

Enter the number of terms:  10

0 1 1 2 3 5 8 13 21 34

In [17]:
def abcd(a,b=7):
    c=a+b
    print(c)
    return 


A=int(input())
B=int(input())


#print(abcd(A,B))
abcd(A,B)
abcd(A)

 4
 5

9
11

In [1]:
#arithmetic operations
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
oper=input("enter the operator:")
match oper:
           case "+":print("sum=",a+b)
           case "-":print("difference=",a-b)
           case "*":print("product=",a*b)
           case "/":print("quotient=",a/b)
           case "%":print("remainder=",a%b)
           case "^":print("power=",a ** b)
           case _ :print("invalid choice")

enter the value of a: 23
enter the value of b: 10
enter the operator: 3

invalid choice

In [2]:
#type of input
def identify_character(char):
    if char.islower():
        return "lower case"
    elif char.isupper():
        return "upper case"
    elif char.isdigit():
        return "numeric"
    else:
        return "special character"
input=input("enter a character:")
print("character type=",identify_character(input))

enter a character: 4

character type= numeric

In [4]:
#palindrome or not
n=int(input("enter your number:"))
m=n
rev=0
while n>0:
          rem=n%10
          rev=rev*10+rem
          n=n//10
if m==rev:    
      print("it is a palindrome")
else:
     print("it is not a palindrome")

TypeError: 'str' object is not callable

In [5]:
#reversing a given number
def reverse_digits(number):
    return int(str(number)[::-1])
number=int(input("enter a number:"))
print("reversed digits:",reverse_digits(number))

TypeError: 'str' object is not callable

In [6]:
#prime number or not
num=int(input("enter the number:"))
for i in range(2,num):
    if(num%i)==0:
        print(num,"is not prime")
        break
else:
     print(num,"is prime")

TypeError: 'str' object is not callable

In [7]:
grades={8.4:"zoha",7.5:"kev",7.9:"tanz"}
try:
    total=sum(grades)
    num=len(grades)
    average=total/num
    print(average)
except ZeroDivisionError:
    print("dictionary is empty!!")
else:
    print("no error")
finally:
    print("code executed!!")

7.933333333333334
no error
code executed!!

In [8]:
list=[1,2,3,4,5,6,7,"srujana"]
sum=0
try:
    for i in list:
        sum=sum+i
        print("sum of the list is:",sum)  
except:
     print("unable to add string")

sum of the list is: 1
sum of the list is: 3
sum of the list is: 6
sum of the list is: 10
sum of the list is: 15
sum of the list is: 21
sum of the list is: 28
unable to add string